@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="d-flex flex-column justify-content-center align-items-center vh-100">
    <h1 class="display-4 mb-4" style="font-weight: 700; color: #232f3e;">Welcome to the Management Portal</h1>
    <div class="d-grid gap-3 w-100" style="max-width: 350px;">
        <a href="/Programmers" class="btn btn-success btn-lg shadow">
            Go to Programmer Management
        </a>
        <a href="/Studies" class="btn btn-info btn-lg shadow">
            Go to Studies Management
        </a>
       @* <a href="/Software" class="btn btn-warning btn-lg shadow">
            Go to Software Management
        </a> *@
    </div>
</div>

